<strong>Hello, {{ provider }}</strong>
<p>There has been a schedule cancellation, see the details below:</p>
<p>
  <strong>Client: </strong>{{ user }} <br/>
  <strong>Date and time: </strong>{{ date }} <br/>
  <br/>
  <small>
    The time is available for new reservations again.
  </small>
</p>
